@import "./reset.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";


body{
   
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    
}

:root{

    /* colors */
    --light-primary-text:#FCFCFC;
    --dark-primary-text:#1E3231;
    --dark-button:#485665;
    --light-button:#D0A5C0;
    --light-background:#F7F7FF;
    --dark-background:#495867;

    /* width & height */
    --app-max-width:1000px;
    --nav-height:60px;
    --media-browser-mobile:1000px;


    /* themes */
        /* theme rosies */
        --text-rosie:#FCFCFC;
        --background-rosie:#061d4f;
        --background-lighter-rosie:#b5a5a8;
        --background-post-rosie:#003b6b;
        /* theme jennie */
        --background-jennie:#bbb9c4;
        --background-lighter-jennie:#e6d0c3;
        --text-jennie:#231e24;
        --background-post-jennie:#dad6e4;
}
.facebook-login-icon{
    display: inline-block;
    background-color: #0078FF;
    color:white;
}


.button{
    border:none;
    border-radius: 4px;
    padding:9px 15px;
    font-weight: bold;
    transition: all .2s;
    white-space: nowrap;
    cursor: pointer;
    min-width: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 14px;
  
   
}
@media screen and (hover:hover){
    .button:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
        
    }
   }
.button:focus{
    outline: none;
}
.bg-pink{
    background-color: var(--light-button);
}
.react-thumbnail-generator{
    width:100%;
    height:100%;
    overflow: hidden;
    
}
.button-none{
    background-color: transparent;
    border: none;
}
.react-thumbnail-generator img{
    width:100%
}
*{
    font-family: 'Roboto', sans-serif;;
}