@import "src/stylesheets/helpers/keyframes";

.pageWrapper{
   
    animation:showup 1s backwards;
    max-width: calc(var(--app-max-width ) - 200px);
    min-height: 100vh;
    margin:0 auto;
    z-index: 919219;
    padding-bottom: 5vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 9px 0px;
}
.CheckInWrapper{
    width:80%;
    @media screen and (max-width:800px){
        width:96%;
    }
    margin:0 auto;
    position: relative;
}
.NewsFeedWrapper{
    width:90%;
    margin:0 auto;

    margin-top: 20px;

    @media screen and (max-width:800px){
        width:99%;

    }
}