@import "src/stylesheets/helpers/placeholder";
.avatar{
    overflow: hidden;
    display: inline-block;
    
    background-position: center;
    transition: width .2s;
    border-radius: 100%;
    background-size: cover;
}
.small{
    @extend %image-small;
}
.medium{
    @extend %image-medium;
}
.large{
    @extend %image-large;
}