.searchBox{
    background-color: rgba(184, 184, 184, 0.192);
    border-radius: 4px;
    height: 90%;
    position: relative;
    display: grid;
    padding:3px 10px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4px;
    input {
        border:none;
        border-radius: inherit;
        background-color: transparent;
        font-size: 18px;
        &:focus{
            outline: none;
        }
    }
    div{
        display: flex;
        align-items: center;
        cursor: pointer;
        
    }
    
}

.overlaySearch{
    height:60px;
    
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    padding:5px 12px 12px 12px;
    grid-gap: 4px;
    input{
        
        width:100%;
        border:none;
        background-color: rgba(128, 128, 128, 0.178);
        border-radius: 4px;
        padding: 0 12px;
        font-size: 22px;
        &:focus{
            outline:none;
        }
    }
    div{
        display:flex;
        align-items: center;
        cursor: pointer;
        
    }
}
.searchTitle{
    text-align: center;
    padding:3px 0;
    font-size: 1.3rem;
    margin-top: 5px;
}