
@import "src/stylesheets/helpers/placeholder";
.navbar{
    width:100%;
    padding: 14px 0;
    position: sticky;
    z-index: 200;
    top:0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .2s;
    *{
        
        color:inherit;
    }

}
.content{
    height:100%;
    padding:0 20px;
    color:inherit;
    max-width: var(--app-max-width);
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    
}
.groupSearch{
    display: grid;
    color:inherit;
    grid-gap: 11px;
}


.groupNotification{
    color:inherit;
    
    img{
       @extend %image;
    }
}
.dropdown{
    max-width:400px;
    width:100vw;
    max-height:500px;
    position: absolute;
    border-radius: 6px;
    overflow: auto;
    right:0;
    top:130%; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @media screen and(max-width:600px) {
        position: fixed;
        max-width: unset;
        top:70px;
        left:0;
    }
}
.messageHistory{
    
    position: relative;
    width: 100%;
}
.wrapper{
    transition: all .3s;
    width:95%;
    border-radius: 5px;
    margin:0 auto;
    cursor: pointer;
    &:hover{
        background-color: rgba(128, 128, 128, 0.24);

    }
}